body{
    background-color: #FFFFFF;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

hr{
    border-color: gray;
    border-style: dotted none none none;
    width: 5%;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #7FBCD2;
    line-height: 2em;
}

h2, h3, li, p, a{
    
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 1.5em;
    font-weight: normal;
    margin: 0px;
    color: #7FBCD2;
}

h3, a{
    color: #066d70;
}


li{
    font-size: 16px;
}

.top-cloud{
    position:absolute;
    right: 20%;
    top: 10%;
}

    
.bottom-cloud{
    position: absolute;
    left: 20%;
}

.trees{
    position:relative;
    max-height: 600px;
    width: 100%;
    margin-top: 100px;
    bottom: 0px;
}

.top-container{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 0px; 
    margin-bottom: 100px;
    text-align: center;
}


.middle-container{
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    margin: 0px 20px 0px 20px;
    padding: 0px 50px 0px 50px;
    font-size: 24px;
}

.skill-row{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 0.9em;
    margin: 30px 25% 30px 25%;
    height: auto;
}

.skill-content{
    display: relative;
}

.profile-pic{
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

.coding-img, .mt-img{
    height: 200px;
    width: 200px;
}
.trader-img{
    height: 250px;
    width: 250px;
}
.coding-img{
    margin-right: 20px
}

.contact-me{
    font-size: 0.9em;
}
.bottom-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px 50px 10px 50px;
}
.footer-link{
    color: White;
}