body{
    background-color: #FFFFFF;
    margin: 0px;
    font-family: 'Merriweather', serif;
    font-size: max(1vw, 10px);
}

hr{
    border-color: gray;
    border-style: dotted none none none;
    width: 5%;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #7FBCD2;
    line-height: 2em;
}

h2, h3, li, p, a{
    
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 1.5em;
    font-weight: normal;
    margin: 0px;
    color: #7FBCD2;
}

h3, a{
    color: #066d70;
}


.top-cloud{
    position:absolute;
    height: 4.528vh;
    width: 7.813vw;
    right: 20%;
    top: 10%;
}

    
.bottom-cloud{
    position: absolute;
    height: 4.528vh;
    width: 7.813vw;
    left: 20%;
}

.trees{
    position:relative;
    max-height: 60vh;
    width: 100%;
    margin-top: 100px;
    bottom: 0px;
}

.top-container{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 0px; 
    margin-bottom: 100px;
    text-align: center;
}


.middle-container{
    text-align: center;
    margin: 0px 5% 0px 5%;
    padding: 0px 5% 0px 5%;
    font-size: 1.2em;
}

.skill-row{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 30px 15% 30px 15%;
    height: auto;
}

.skill-content{
    display: relative;
}

.profile-pic{
    border-radius: 50%;
    height: max(15%, 120px);
    width: max(15%, 120px);
}

.coding-img, .mt-img, .trader-img, .rice-img{
    height: max(25%, 120px);
    width: max(25%, 120px);
}

.coding-img{
    margin-right: 20px
}

.contact-me{
    font-size: 0.8em;
}
.bottom-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px 5% 5% 5%;
}
.footer-link{
    color: White;
}